<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/consultareserva.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Consultar Reserva</title>
</head>
<body>
    <h1>Consultar Reservas</h1>
    <div class="box">
        <div class="container-4">
          <input type="search" id="search" placeholder="Ingresa tu numero de ticket" />
          <button class="icon"><i class="fa fa-search"></i></button>
        </div>
      </div>
<div id="info">
    <div id="columna1">
        <label for="ticket">Ticket:</label>
        <input type="text" class="user-info" id="ticket" name="ticket" value="" readonly><br><br>

        <label for="nombre">Nombre del cliente:</label>  
        <input type="text" class="user-info" id="nombre" name="nombre" value="" readonly><br><br>

        <label for="destino">Destino turistico:</label>  
        <input type="text" class="user-info" id="destino" name="destino" value="" readonly><br><br>

        <label for="estado">Estado de reserva:</label>  
        <input type="text" class="user-info" id="estado" name="estado" value="" readonly><br><br>
        </div>
        <div id="columna2">
        <label for="nombre">Tipo Pago:</label>  
        <input type="text" class="user-info" id="tpago" name="tpago" value="" readonly><br><br>

        <label for="nombre">Total Cancelado:</label>  
        <input type="text" class="user-info" id="tcancelado" name="tcancelado" value="" readonly><br><br>

        <label for="nombre">Fecha reserva:</label>  
        <input type="text" class="user-info" id="fechar" name="fechar" value="" readonly><br><br>
            </div>
</div>
</body>
</html>